@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/NavbarContainer.module.scss";
@import "./styles/Spinner.module.scss";

body {
  background: #efefef;
}

.item-detail__scroll-bar {
  &::-webkit-scrollbar {
    width: 7px;
    height: 15px;
    background: #fff159;
    background: gray;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #3483fa;
  }
}
